<h1>Editing loaned book</h1>

<%= render "form", loaned_book: @loaned_book %>

<br>

<div>
  <%= link_to "Show this loaned book", @loaned_book %> |
  <%= link_to "Back to loaned books", loaned_books_path %>
</div>
