<div id="<%= dom_id book %>">


  <tbody>
    <tr>
      <td>
        <%= book.title %>
      </td>
      <td>
        <%= book.published_year %>
      </td>

      <td>
        <%= book.author.name %>
      </td>
    </tr>
  </tbody>  


</div>
